body {
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 200;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.header-section {
    text-align: center;
    margin: 45px 84px;
}

.body-section {
    display: grid;
    justify-content: center;
}

.box {
    height: 194px;
    width: 316px;
    border-top: 3px solid;
    border-radius: 3px 3px 0 0;
    box-shadow: 3px 3px hsl(229, 6%, 66%);
    margin-top: 15px;
    padding: 12px;
    background-color: #ffffffff;

}

.body-section :nth-child(1) {
    border-top-color: hsl(180, 62%, 55%);
}

.body-section :nth-child(2) {
    border-top-color: hsl(0, 78%, 62%);
}

.body-section :nth-child(3) {
    border-top-color: hsl(34, 97%, 64%);
}

.body-section :nth-child(4) {
    border-top-color: hsl(212, 86%, 64%);
}

.box img {
    width: 50px;
    position: relative;
    top: 12%;
    left: 81%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
    .body-section {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 10px;
    }
    .body-section :nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
        align-self: center;
    }
    .body-section :nth-child(2) {
        grid-column: 2;
    }
    .body-section :nth-child(4) {
        grid-column: 3;
        grid-row: 1 / span 2;
        align-self: center;
    }
    .body-section :nth-child(3) {
        grid-column: 2;
    }
}
